<div class="d-flex">
  <div id="sidebar" class="col-2"><%= render'layouts/sidebar' %></div>
  <div id="main" class="col-10">

    <div class="my-3">
      <h1>preguntas</h1>
    </div>
    

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">すべて</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="unresolved-tab" data-toggle="tab" href="#unresolved" role="tab" aria-controls="unresolved" aria-selected="false">未解決</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="resolved-tab" data-toggle="tab" href="#resolved" role="tab" aria-controls="resolved" aria-selected="false">解決済</a>
    </li>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      <% @questions.each do |question| %>
        <div class="d-flex preguntas_article">
          <div class='px-4 py-2 text-center'>
            <p>
            <% if question.is_solution == true %>
              解決
            <% else %>
              未解決
            <% end %>
            </p>
            <p><%= link_to "#{question.question_answers.count} 回答数", question_path(question.id) %></p>
          </div>
    
          <div class='flex-grow-1'>
            <span>
              <%= link_to question.title, question_path(question.id) %>  
            </span>
            <div class="d-flex justify-content-between align-items-center">
              <!-- user icon start -->
              <div class="d-flex align-items-center">
                    <p><%= image_tag question.user.get_profile_image(60,60) %></p>
                    <p><%= question.user.name %></p>
              </div>
              <!-- user icon end -->
              <div class="mr-2">
                <p><i class="fa-regular fa-comment"></i> <%= question.question_comments.count %></p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="tab-pane fade" id="unresolved" role="tabpanel" aria-labelledby="unresolved-tab">
      <% @not_active_questions.each do |question| %>
        <div class="d-flex preguntas_article">
          <div class='px-4 py-2 text-center'>
            <p>
            <% if question.is_solution == true %>
              解決
            <% else %>
              未解決
            <% end %>
            </p>
            <p><i class="fa-regular fa-lightbulb"></i> <%= question.question_answers.count %></p>
          </div>
    
          <div class='flex-grow-1'>
            <span>
              <%= link_to question.title, question_path(question.id) %>  
            </span>
            <div class="d-flex justify-content-between align-items-center">
              <!-- user icon start -->
              <div class="d-flex align-items-center">
                    <p><%= image_tag question.user.get_profile_image(60,60) %></p>
                    <p><%= question.user.name %></p>
              </div>
              <!-- user icon end -->
              <div class="mr-2">
                <p><i class="fa-regular fa-comment"></i> <%= question.question_comments.count %></p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="tab-pane fade" id="resolved" role="tabpanel" aria-labelledby="resolved-tab">
      <% @is_active_questions.each do |question| %>
      <div class="d-flex preguntas_article">
        <div class='px-4 py-2 text-center'>
          <p>
          <% if question.is_solution == true %>
            解決
          <% else %>
            未解決
          <% end %>
          </p>
          <p><%= link_to "#{question.question_answers.count} 回答数", question_path(question.id) %></p>
        </div>
  
        <div class='flex-grow-1'>
          <span>
            <%= link_to question.title, question_path(question.id) %>  
          </span>
          <div class="d-flex justify-content-between align-items-center">
            <!-- user icon start -->
            <div class="d-flex align-items-center">
                  <p><%= image_tag question.user.get_profile_image(60,60) %></p>
                  <p><%= question.user.name %></p>
            </div>
            <!-- user icon end -->
            <div class="mr-2">
              <p><i class="fa-regular fa-comment"></i> <%= question.question_comments.count %></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <% end %>
    </div>
  </div>

</div>


