<div class="d-flex">
  <div id="sidebar" class="col-2"><%= render'layouts/sidebar' %></div>
  <div id="main" class="col-10">

    <div class="my-3">
      <h1>preguntas</h1>
    </div>
    
    <% @questions.each do |question| %>
    <div class="d-flex preguntas_article">
      <div class='px-4 py-2'>
        <p>
        <% if question.is_active == true %>
          解決
        <% else %>
          未解決
        <% end %>
        </p>
        <!--<p>未解決/解決済</p>-->
        <p><%= link_to "#{question.question_answers.count} 回答", question_path(question.id) %></p>
      </div>

      <div class='flex-grow-1'>
        <span>
          <%= link_to question.title, question_path(question.id) %>  
        </span>
        <div class="d-flex justify-content-between align-items-center">
          <!-- user icon start -->
          <div class="d-flex align-items-center">
                <p><%= image_tag question.user.get_profile_image(60,60) %></p>
                <p><%= question.user.name %></p>
          </div>
          <!-- user icon end -->
          <div class="mr-2">
            <p><i class="fa-regular fa-comment"></i> <%= question.question_comments.count %></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% end %>

</div>