<body>
  <div class="row">
    <div class="col-2">
      <%= render'layouts/sidebar' %>
    </div>
    <div class="col-8">
      <%= yield %>
    </div>
  </div>
</body>

<h1>質問一覧</h1>

<% @questions.each do |question| %>

  <p>
    <% if question.is_active == true %>
      解決
    <% else %>
      未解決
    <% end %>
  </p>

  <p>タイトル</p>
  <span><%= question.title %></span>
  <span>
    <%= link_to question.title, question_path(question.id) %>  
 </span>
  
  <!--<p>未解決/解決済</p>-->
  
  <p><%= link_to "#{question.question_answers.count} 回答", question_path(question.id) %></p>

  
  <p>投稿ユーザー画像：<%= image_tag question.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= question.user.name %></p>
  <p><%= link_to "#{question.question_comments.count} コメント", question_path(question.id) %></p>


<% end %>