
<% if @question.errors.any? %>
  <%= @question.errors.count %>件のエラーが発生しました
  <ul>
    <% @question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @question do |f| %>

  <div class="d-flex justify-content-end mx-2 my-4">
　  <%= f.submit '下書き保存', :name => 'draft', class: 'mr-2 btn btn-sm btn-outline-secondary' %>
　  <%= f.submit '公開', :name => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %>
　</div>

  </div>
  <div class="mb-3 row">
    <%= f.text_field :title, placeholder: "タイトル", class:"form-control form-control-lg mb-3 col-lg-8 offset-lg-2" %>
  </div>
  <div class="mb-3 row">
    <%= f.text_area :body, placeholder: "本文", class:"form-control mb-3 col-lg-8 offset-lg-2" %>
  </div>
  
　<!-- %= f.text_field :title, placeholder: "タイトル" %>-->
　<!--%= f.text_area :body, placeholder: "本文" %>-->

  <div class="mb-3 col-lg-8 offset-lg-2">
    <div class="btn-group-toggle" data-toggle="buttons">
      <div class="col-sm-10 btn-group" data-toggle="buttons">
        <label class="btn btn-outline-secondary" style="width:50%">
          <%= f.radio_button :is_solution, true %> 解決
        </label>
        <label class="btn btn-outline-secondary" style="width:50%">
          <%= f.radio_button :is_solution, false %> 未解決
        </label>
      </div>
    </div>
  </div>

<% end %>
<style>
.field_with_errors {
  display: contents;
}
</style>