<h1>質問投稿</h1>

<% if @question.errors.any? %>
  <%= @question.errors.count %>件のエラーが発生しました
  <ul>
    <% @question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @question do |f| %>

　<%= f.submit '下書き保存', :article => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
　<%= f.submit '公開', :article => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %> <br>


　<!--<h4>タイトル</h4>-->
  <%= f.text_field :title, placeholder: "タイトル" %> <br>

　<!--<h4>本文</h4>-->
　<%= f.text_area :body, placeholder: "本文" %>
    
    
  <!--解決/未解決-->
    
<% end %>