
<div id="sidebar" class="col-2"><%= render'layouts/sidebar' %></div>
<div id="main" class="col-10">

<div class='px-4 py-2'>
  <% if @question.is_active == true %>
    解決
  <% else %>
    未解決
  <% end %>
  <%= link_to "#{@question.question_answers.count} 回答数", question_path(@question.id) %>
</div>


<h2><%= @question.title %></h2>

<!-- user icon start -->
<div class="d-flex align-items-center">
  <p><%= image_tag @question.user.get_profile_image(60,60) %></p>
  <p><%= @question.user.name %></p>
</div>
<!-- user icon end -->

<p>投稿日 <%= @question.created_at.strftime('%Y/%m/%d') %></p>


<p><%= @question.body %></p>


<div class="d-flex mr-2">
  <p>回答件数：<%= @question.question_answers.count %></p>

  <% if @question.user == current_user %>
    <%= link_to edit_question_path(@question.id) do %>
      <!--<i class="fa-regular fa-pen-to-square"></i>-->
      <i class="fa-solid fa-pencil"></i>
      <% end %>
    <%= link_to question_path(@question.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  <% end %>
</div>


<!-- comment start -->
<div>
  <% @question.question_comments.each do |question_comment| %>
    <div class="d-flex">
      <p><%= image_tag question_comment.user.get_profile_image(50,50) %></p>
      <%= question_comment.user.name %>
      <%= question_comment.created_at.strftime('%Y/%m/%d') %><%= question_comment.comment %>
      <% if question_comment.user == current_user %>
        <%= link_to "削除", question_question_comment_path(question_comment.question, question_comment), method: :delete %>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= form_with model: [@question, @question_comment] do |f| %>
      <div class="d-flex">
        <%= f.text_area :comment, size: "130x1", placeholder: "コメント入力", class: "display-block" %>
        <%= f.submit "送信する", class: "align-self-end ml-3" %>
      </div>
    <% end %>
  </div>
</div>
<!-- comment end -->

<strong>回答</strong>
<div>
  <% @question.question_answers.each do |question_answer| %>
    <div class="d-flex">
      <p><%= image_tag question_answer.user.get_profile_image(50,50) %></p>
      <%= question_answer.user.name %>
      <%= question_answer.created_at.strftime('%Y/%m/%d') %><%= question_answer.answer %>

      <div id="favorites-btn-<%= answer.id %>" class="mr-2">
        <%= render "answer_favorites/favorites_btn", question: question %>
      </div>
      
      <% if question_answer.user == current_user %>
        <%= link_to "削除", question_question_answer_path(question_answer.question, question_answer), method: :delete %>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= form_with model: [@question, @question_answer] do |f| %>
      <div class="d-flex">
        <%= f.text_area :answer, size: "130x1", placeholder: "回答入力", class: "display-block" %>
        <%= f.submit "送信する", class: "align-self-end ml-3" %>
      </div>
    <% end %>
  </div>
</div>
