<div class="d-flex">
  <div id="sidebar" class="col-2"><%= render'layouts/sidebar' %></div>
  <div id="main" class="col-10">

    <div class="my-3">
     <h1>articulos</h1>
    </div>

    <article class='d-flex flex-wrap'>
    <% articles.each do |article| %>
      <section class='w-50 p-3 border-bottom border-right article_sections'>
        <span>
          <%= link_to article.title, article_path(article.id) %>
        </span>
        
        <p class='example'><%= strip_tags(article.body.to_s).gsub(/[\n]/,"").strip.truncate(70) %></p>
        <!--<span>本文一部表示したい</span>-->
        
        <div class="d-flex justify-content-between align-items-end">
            <!-- user icon start -->
            <div class="d-flex align-items-end">
              <div class="pr-2">
                <%= image_tag article.user.get_profile_image(40,40) %>
              </div>
              <div>
                <span class="d-block">
                  <%= article.user.name %>
                </span>
                <span class="d-block">
                  <%= article.created_at.strftime('%Y/%m/%d') %>
                </span>
              </div>
            </div>
            
            <!-- user icon end -->
            <div class="d-flex justify-content-end align-items-end">
              <div class="mr-2 d-flex">
                <% if article.user == current_user %>
                  <%= link_to edit_article_path(article.id) do %>
                    <div class="pr-3"><i class="fa-solid fa-pencil"></i></div>
                  <% end %>
                  <%= link_to article_path(article.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                    <div class="pr-3"><i class="fa-regular fa-trash-can"></i></div>
                  <% end %>
                <% end %>
              </div>
  
              <div id="favorites-btn-<%= article.id %>" class="pr-2">
                <%= render "article_favorites/favorites_btn", article: article %>
              </div>
            
              <div class="pr-2">
                <i class="fa-regular fa-comment"></i> <%= article.article_comments.count %>
              </div>
            </div>
          </div>
        </section>
    <% end %>
    </article>
</div>
<script data-turbolinks="false">
  // let max_length = 30;
  
  // window.addEventListener("turbolinks:load", ()=>{
  //   let examples = Array.from(document.getElementsByClassName('trix-content'));
    
  //   for(let example of examples){
  //     let article_body = example.getElementsByTagName('div')[0];
  //     // console.log(article_body.textContent)
  //     article_body.innerHTML = example.textContent.slice(0,max_length)+'...';
  //   }
  // })
</script>