<h1>編集画面</h1>

<%= form_with model: @article do |f| %>

  <div class="row mt-4">
    <div class="form-inline mx-auto">
      <% if @article.is_active == true %>
        <%= f.submit "下書き保存", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
        <%= f.submit "公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
      <% else %>
        <%= f.submit "更新", :name => 'update_post', class:'btn btn-sm btn-warning text-light' %>
      <% end %>
    </div>
  </div>
  <div class="mt-4 pb-3 text-center">
    <u><%= link_to "削除", article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:'text-danger' %></u>
  </div>

  <%= f.text_field :title, placeholder: "タイトル" %>
  
  <!--%= f.text_area :body %>-->
  <!--%= f.label :body %>-->
  <%= f.rich_text_area :body, placeholder: "本文" %>
  
  
  
<% end %>