
<% if @article.errors.any? %>
  <%= @article.errors.count %>件のエラーが発生しました
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @article do |f| %>

  <div class="d-flex justify-content-end mx-2 my-4">
    <% if @article.is_active == true %>
      <%= f.submit "下書きに戻す", :name => 'update_draft', class:'mr-2 btn btn-sm btn-outline-secondary' %>
      <%= f.submit "更新", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning text-white' %>
    <% else %>
      <%= f.submit "下書き更新", :name => 'update_draft', class:'mr-2 btn btn-sm btn-outline-secondary' %>
      <%= f.submit "公開", :name => 'update_post', class:'mr-2 btn btn-sm btn-warning text-light' %>
    <% end %>
    <div>
      <u><%= link_to "削除", article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:'mr-5 btn btn-sm btn-secondary' %></u>
    </div>
  </div>


  <div class="mb-3 row">
    <%= f.text_field :title, placeholder: "タイトル", class:"form-control form-control-lg mb-3 col-lg-8 offset-lg-2" %>
  </div>
  
  <!--%= f.text_area :body %>-->
  <!--%= f.label :body %>-->
  <%= f.rich_text_area :body, placeholder: "本文" %>
  
  
  
<% end %>