<h1>記事一覧</h1>

<% @articles.each do |article| %>

  <p>タイトル</p>
  <span>
    <%= link_to article.title, article_path(article.id) %>
  </span>
  
  <p>本文</p>
  <!--<span>本文一部表示したい</span>-->
  
  
  <p>投稿ユーザー画像：<%= image_tag article.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= article.user.name %></p>

  <div>
  <% if article.favorited_by?(current_user) %>
    <p>
      <%= link_to article_favorites_path(article), method: :delete do %>
        ♥<%= article.article_favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to article_favorites_path(article), method: :post do %>
        ♡<%= article.article_favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  </div>
  
  <div>
    <p>コメント件数：<%= article.article_comments.count %></p>
  </div>
  
  <p><%= link_to "#{article.article_comments.count} コメント", article_path(article.id) %></p>

  
<% end %>