
<% if @article.errors.any? %>
  <%= @article.errors.count %>件のエラーが発生しました
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @article do |f| %>

　<%= f.submit '下書き保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
　<%= f.submit '公開', :name => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %> <br>


　<%= f.text_field :title, placeholder: "タイトル" %>

　<!--%= f.text_area :body %>-->
　<!--%= f.label :body %>-->
  <%= f.rich_text_area :body, placeholder: "本文" %>

　<!--下書き/公開-->


<% end %>