
<div id="sidebar" class="col-2"><%= render'layouts/sidebar', user: @article.user %></div>
<div id="main" class="col-10">

<div class="my-4">
  <h2><%= @article.title %></h2>
</div>


<div class="d-flex align-items-center justify-content-between">
  <!-- user icon start -->
  <div class="d-flex align-items-center">
    <p class=pr-2><%= image_tag @article.user.get_profile_image, style: "width: 40px" %></p>
    <p><%= @article.user.name %></p>
  </div>
  <!-- user icon end -->
    <p><%= @article.created_at.strftime('%Y/%m/%d') %></p>
</div>


<p><%= @article.body %></p>


<!--<p>タグ</p>-->

<div class="d-flex">
  <div id="favorites-btn-<%= @article.id %>" class="mr-2">
    <%= render "article_favorites/favorites_btn", article: @article %>
  </div>
  <p><i class="fa-regular fa-comment"></i> <%= @article.article_comments.count %></p>

  <div class=" d-flex mr-2">
    <% if @article.user == current_user %>
      <%= link_to edit_article_path(@article.id) do %>
        <div class="pl-3"><i class="fa-solid fa-pencil text-secondary"></i></div>
      <% end %>
      <%= link_to article_path(@article.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
        <div class="pl-3"><i class="fa-regular fa-trash-can text-secondary"></i></div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <% @article.article_comments.each do |article_comment| %>
    <p><%= image_tag article_comment.user.get_profile_image, style: "width: 50px" %></p>
    <%= article_comment.user.name %>
    <%= article_comment.created_at.strftime('%Y/%m/%d') %><%= article_comment.comment %>
    <% if article_comment.user == current_user %>
      <%= link_to "削除", article_article_comment_path(article_comment.article, article_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<% if user_signed_in? %>
  <div>
    <%= form_with model: [@article, @article_comment] do |f| %>
      <div class="d-flex">
        <%= f.text_area :comment, size: "150x1", placeholder: "コメント入力", class: "display-block" %>
        <%= f.submit "送信する", class: "align-self-end ml-3" %>
      </div>
    <% end %>
  </div>
<% end %>
