<div class="row">
  <div class="col-8">
    
    <div class="h2 pt-3 px-5"><%= link_to "articulos", articles_path %></div>
    <article class='d-flex flex-wrap px-5'>
      <% @articles.each do |article| %>
        <section class='w-50 p-3 border-bottom border-right article_sections'>
          <p class="h5">
            <%= link_to article.title, article_path(article.id) %>
          </p>
          
          <!--<p class='example'><%#= strip_tags(article.body.to_s).gsub(/[\n]/,"").strip.truncate(30) %></p>-->
  
          <div class="d-flex justify-content-between align-items-end row">
              <!-- user icon start -->
              <div class="d-flex align-items-end col-5">
                <div class="pr-2">
                  <%= image_tag article.user.get_profile_image(40,40) %>
                </div>
                <div>
                  <span class="d-block">
                    <%= article.user.name %>
                  </span>
                  <span class="d-block">
                    <%= article.created_at.strftime('%Y/%m/%d') %>
                  </span>
                </div>
              </div>
              <!-- user icon end -->
              <div class="d-flex col-7 justify-content-end align-items-end">
                <!--<div>-->
                  <% if article.user == current_user %>
                    <%= link_to edit_article_path(article.id) do %>
                      <div class="pr-3"><i class="fa-solid fa-pencil"></i></div>
                    <% end %>
                    <%= link_to article_path(article.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                      <div class="pr-3"><i class="fa-regular fa-trash-can"></i></div>
                    <% end %>
                  <% end %>
                <!--</div>-->
    
                <div id="favorites-btn-<%= article.id %>" class="pr-2">
                  <%= render "article_favorites/favorites_btn", article: article %>
                </div>
              
                <div class="pr-2">
                  <i class="fa-regular fa-comment"></i> <%= article.article_comments.count %>
                </div>
              </div>
          </div>
        </section>
      <% end %>
    </article>
    
    <div class="h2 pt-5 px-5"><%= link_to "palabras", words_path %></div>
      <word class='d-flex flex-wrap px-5'>
        <% @words.each do |word| %>
          <section class='w-50 p-3 border-bottom border-right article_sections'>
            <p>
              <%= (strip_tags(word.spanish.to_s) + "：" + strip_tags(word.japanese.to_s)).gsub(/[\n]/,"").strip.truncate(30) %>
            </p>
            <div>
              <div class="d-flex justify-content-between row">
                <!-- user icon start -->
                <div class="d-flex align-items-end col-5">
                  <div class="pr-2">
                    <%= image_tag word.user.get_profile_image(40,40) %>
                  </div>
                  <div>
                    <span class="d-block">
                      <%= word.user.name %>
                    </span>
                    <span class="d-block">
                      <%= word.created_at.strftime('%Y/%m/%d') %>
                    </span>
                  </div>
                </div>
                <!-- user icon end -->
                <div class="d-flex col-7 align-items-end justify-content-end">
                    <% if word.user == current_user %>
                      <%= link_to edit_word_path(word.id) do %>
                        <!--<i class="fa-regular fa-pen-to-square"></i>-->
                        <div class="pr-3"><i class="fa-solid fa-pencil"></i></div>
                      <% end %>
                      <%= link_to word_path(word.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                        <div class="pr-3"><i class="fa-regular fa-trash-can"></i></div>
                      <% end %>
                    <% end %>

                  <div id="favorites-btn-<%= word.id %>" class="pr-2">
                    <%= render "word_favorites/favorites_btn", word: word %>
                  </div>
                
                  <div class="pr-2">
                    <i class="fa-regular fa-comment"></i> <%= word.word_comments.count %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <% end %><!-- @words.each end -->
      </word>
  </div>
  
  <div class="col-4">
    <div class="h2 pt-3"><%= link_to "preguntas", questions_path %></div>
      <% @questions.each do |question| %>
        <div class="d-flex pl-2 pr-4 py-2 border-bottom border-left preguntas_article row justify-content-end w-100">
          <div class='h5 col-12'>
            <%= link_to question.title, question_path(question.id) %>  
            <br>
          </div>
          <div class="d-flex align-items-end col-5">
            <div class="px-2">
              <% if question.is_active == true %>
                解決
              <% else %>
                未解決
              <% end %>
            </div>
            <div class="px-2"><i class="fa-regular fa-lightbulb"></i> <%= question.question_answers.count %></div>
          </div>
        </div>
      <% end %>
  </div>
</div>