<h1>編集画面</h1>

<%= form_with model: @word do |f| %>

　<div class="row mt-4">
    <div class="form-inline mx-auto">
      <% if @word.is_active == true %>
        <%= f.submit "下書き保存", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
        <%= f.submit "公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
      <% else %>
        <%= f.submit "更新", :name => 'update_post', class:'btn btn-sm btn-warning text-light' %>
      <% end %>
    </div>
  </div>

　<strong>単語</strong> <br>
　<%= f.text_field :spanish, placeholder: "スペイン語" %> <br>
　<%= f.text_field :japanese, placeholder: "日本語" %> <br>

　<strong>例文</strong> <br>
　<%= f.text_area :spanish_example, placeholder: "スペイン語" %> <br>
　<%= f.text_area :japanese_example, placeholder: "日本語" %>

<% end %>