<h1>単語投稿</h1>

<% if @word.errors.any? %>
  <%= @word.errors.count %>件のエラーが発生しました
  <ul>
    <% @word.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @word do |f| %>

　<%= f.submit '下書き保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
　<%= f.submit '公開', :name => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %> <br>

　<strong>単語</strong> <br>
　<%= f.text_field :spanish, placeholder: "スペイン語" %> <br>
　<%= f.text_field :japanese, placeholder: "日本語" %> <br>

　<strong>例文</strong> <br>
　<%= f.text_area :spanish_example, placeholder: "スペイン語" %> <br>
　<%= f.text_area :japanese_example, placeholder: "日本語" %>

<% end %>