<!DOCTYPE html>
<html>
  <head>
    <title>Apuntes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/c76ac06ae3.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-light navbar-expand-lg">
        <!--<a class="navbar-brand p-3" href="/"> %= image_tag('logo.png') %></a>-->
        <!--<div><strong><a class="navbar-brand p-3" href="/"> apuntes </a></strong></div>-->
        <a class="navbar-brand p-3" href="/"><%= image_tag 'logo.jpg', size: '100x30' %></a>
        <div class="col-8 justify-content-center d-flex">
          <!--<form class="form-inline col-10 justify-content-center">-->
            <!--<input class="form-control mr-sm-2 col-8" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <div class="form-inline justify-content-center">
              <%= render "searches/form" %>
            </div>
          <!--</form>-->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to user_path(current_user.id), class: 'nav-link text-dark' do %>
                my page <i class="fa-regular fa-circle-user"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                sign out <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               new create <i class="fa-regular fa-pen-to-square"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%= link_to 'articulos', new_article_path, class: 'nav-link text-dark' %>
               <%= link_to 'palabras', new_word_path, class: 'nav-link text-dark' %>
               <%= link_to 'preguntas', new_question_path, class: 'nav-link text-dark' %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                sign up <i class="fa-solid fa-user-plus"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                sign in <i class="fa-solid fa-arrow-right-to-bracket"></i>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <main class="container-fluid">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>    
    <%= yield %>
    </main>
  　
  </body>
</html>
